<div class="jumbotron">
    <div class="container">
        <div class="media">
            <div class="media-left">
                <!-- <a href="#">
                    <img class="media-object" src="/assets/images/{{logoFileName}}"/>
                </a> -->
            </div>
            <div class="media-body">
                <!-- <h2 class="media-heading">{{productName}}</h2> -->
                <h2 class="media-heading">Kegerator</h2>
                <div class="btn-group">
                    <a href="#/kegs" class="btn" ng-class="isPage('kegs') ? 'btn-danger active' : 'btn-default'">Kegs</a>
                    <a href="#/realtime" class="btn" ng-class="isPage('realtime') ? 'btn-danger active' : 'btn-default'">Realtime</a>
                    <a href="#/history" class="btn" ng-class="isPage('history') ? 'btn-danger active' : 'btn-default'">History</a>
                    <!-- <a href="/msword.html" class="btn btn-link show-msword">
                        <img title="View in Microsoft Word" src="/images/clippy/window/word.png"/>
                    </a>
                    <a href="/" class="btn btn-link show-ike">
                        <img title="Back to web view" src="/images/clippy/window/ike.png"/>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
